@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
}

.Navbar {
  width: 100%;
  height: 9vw;
  background-color: rgba(51, 135, 188, 1);
}

ul#menu {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#menu li {
  display: inline-block;
  float: left;
  width: 150px;
  height: 30px;
  margin-left: auto;
  margin-top: 3.5vw;
}
ul#menu li a {
  color: #fff;
  display: block;
  line-height: 30px;
  text-decoration: none;
  width: 150px;
  height: 30px;
  text-align: center;
}
ul#menu a.active,
ul#menu a:hover {
  color: rgba(183, 166, 17, 1);
}
.Logo img {
  width: 15vw;
  height: 9vw;
  float: left;
  display: inline-block;
}
.Allineamneto {
  float: right;
}
.Sito {
  display: inline-block;
  float: left;
  margin-top: 3.7vw;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  color: rgba(255, 255, 255, 1);
}
.Sfondo {
  width: 100%;
  height: 55vw;
  background-image: url("Contenuti/sfondo_sito.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Sedi {
  width: 100%;
  margin: 0;
}
.Titolo {
  text-align: center;
}
.Slide {
  max-width: 500px;
  margin-left: 9%;
  float: left;
}
.Myslides {
  display: none;
  border-radius: 12px;
  border: groove;
  width: 100%;
}
.City {
  text-align: center;
}
/*mappa */
#map {
  width: 100%;
  height: 280px;
  margin: 0;
}
.Mappa {
  width: 500px;
  margin-right: 9%;
  border: groove;
  border-radius: 12px;
  float: right;
}
/*popup login e registrazione*/
.logcont {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.568);
  z-index: 9999;
}
.log {
  background-color: #6ab8e6c9;
  margin: 15% auto;
  padding: 20px;
  border: 4px solid rgba(136, 136, 136, 0.452);
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.705);
  width: fit-content;
}
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.Inslog {
  margin: auto;
  border: transparent;
  border-radius: 3px;
}
.loglab {
  font-weight: bold;
}
.container {
  margin-top: 3.7vw;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  color: rgb(7, 1, 1);
  width: 85%;
  text-align: left;
  margin: auto;
  text-align: justify;
}
.desc {
  margin: auto;
  width: 63%;
  height: auto;
  border: groove;
}
/*Div noleggio*/
#noleggio {
  background-color: rgba(255, 255, 255, 1);
  width: 25%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: groove;
  display: none;
  text-align: justify;
}

#nolCatania {
  display: none;
}
#nolPalermo {
  display: none;
}
#nolPortoCervo {
  display: none;
}
#nolVenezia {
  display: none;
}
#nolGenova {
  display: none;
}
#nolNapoli {
  display: none;
}
.MNoleggio {
  width: 70%;
  margin: auto;
  border-radius: 12px;
  border: groove;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.slide {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-Chi_siamo {
  margin: 0 auto;
  max-width: 920px;
}
.role {
  position: absolute;
  text-align: center;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 300px; /* Full width */
  padding: 10px; /* Some padding */
}

.Chi {
  width: 300px;
  height: 340px;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}
.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: auto;
}
.nav-list li a:before {
  content: "\f14f";
  font: 400 21px/1 "Material Design Icons";
  color: #000000;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}
.role {
  margin-top: -39px;
}
.Tirreno {
  width: 100%;
  height: 60vw;
  border: groove;
  background-image: url("Contenuti/località_img/tirreno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Adriatico {
  width: 100%;
  height: 60vw;
  border: groove;
  background-image: url("Contenuti/località_img/DeltaPO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Ionio {
  width: 100%;
  height: 60vw;
  border: groove;
  background-image: url("Contenuti/località_img/ionio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Ligure {
  width: 100%;
  height: 60vw;
  border: groove;
  background-image: url("Contenuti/località_img/CinqueTerre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  margin-top: 10px;
  margin-left: 10px;
}
.dati {
  margin-left: 150px;
  margin-top: -100px;
}
