@charset "UTF-8";
/* CSS Document */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
}

.Navbar {
  width: 100%;
  height: 9vw;
  background-color: rgba(51, 135, 188, 1);
}

ul#menu {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#menu li {
  display: inline-block;
  float: left;
  width: 150px;
  height: 30px;
  margin-left: auto;
  margin-top: 3.5vw;
}
ul#menu li a {
  color: #fff;
  display: block;
  line-height: 30px;
  text-decoration: none;
  width: 150px;
  height: 30px;
  text-align: center;
}
ul#menu a.active,
ul#menu a:hover {
  color: rgba(172, 20, 20, 1);
}
.Logo img {
  width: 15vw;
  height: 9vw;
  float: left;
  display: inline-block;
}
.Allineamneto {
  float: right;
}
.Sito {
  display: inline-block;
  float: left;
  margin-top: 3.7vw;
  font-size: 20px;
  font-family: Verdana, sans-serif;
  color: rgba(255, 255, 255, 1);
}
.Sfondo {
  width: 100%;
  height: 55vw;
  background-image: url("Contenuti/sfondo_sito.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.Sedi {
  width: 100%;
  margin: 0;
}
.Titolo {
  text-align: center;
}
.Slide {
  max-width: 500px;
  margin-left: 9%;
	float: left;
}
.Myslides {
  display: none;
  border-radius: 12px;
  border: groove;
  width: 100%;
}
.City {
  text-align: center;
}
/*mappa */
#map {
  width: 100%;
	height: 280px;
	margin: 0;
}
.Mappa {
  width: 500px;
  margin-right: 9%;
  border: groove;
  border-radius: 12px;
	float: right;
}
/*popup login e registrazione*/
.logcont {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.568);
  z-index: 9999;
}
.log {
  background-color: #6ab8e6c9;
  margin: 15% auto;
  padding: 20px;
  border: 4px solid rgba(136, 136, 136, 0.452);
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.705);
  width: fit-content;
}
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.Inslog {
  margin: auto;
  border: transparent;
  border-radius: 3px;
}
.loglab {
  font-weight: bold;
}
.container{
  margin-top: 3.7vw;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  color: rgb(7, 1, 1);
	width: 85%;
	text-align: left;
	margin: auto;
}
.desc {
	margin: auto;
  width: 55%;
  height: auto;
  border: groove;
}
/*Div noleggio*/
.noleggio{
  background-color: rgba(255,255,255,1.00);
	width: 25%;
	margin: auto;
	margin-top: 20px;
	border: groove;
	padding: 10px;
	border-radius: 10px;
	visibility: hidden;
}
#nolCatania
{
  display: none;
}
#nolPalermo
{
  display: none;
}
#nolPortoCervo
{
  display: none;
}
#nolVenezia
{
  display: none;
}
#nolGenova
{
  display: none;
}
#nolNapoli
{
  display: none;
}
.MNoleggio{
	width: 70%;
	margin: auto;
}